<p class="title">{{ question.content }}</p>
<ul>
    {% for answer in answers %}
        <li>{{ answer.content }}</li>
    {% endfor %}
</ul>

<p class="title">Użytkownicy, którzy odpowiedzieli:</p>

<ul id="usersAnswers">
    {% for userAnswer in usersAnswers %}
        <li>
            {% if userAnswer.correct %}
                <img src="{{ asset('bundles/kni/images/ok.png')}}" alt="odpowiedź poprawna" />
            {% else %}
                <img src="{{ asset('bundles/kni/images/wrong.png')}}" alt="odpowiedź niepoprawna" />
            {% endif %}
            {{ userAnswer.name }}
        </li>
    {% endfor %}
</ul>