<html>
    <head>
        {% block head %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kni/css/meeting.css') }}" />
        {% endblock %}
        {% block title '<title>Workshops</title>' %}
            <link rel="stylesheet" href="{{ asset('js/jquery-ui/themes/base/jquery-ui.css')}}" />
            <meta charset="utf-8" />
            <script src="{{ asset('js/jquery-ui/jquery-1.9.1.js')}}"></script>
            <script src="{{ asset('js/jquery-ui/ui/jquery-ui.js')}}"></script>
        {% block additionalHeaders '' %}
    </head>
    <body>
        <div id="header">
            <p class="right">
                {{workshop.startDate|date('Y-m-d H:i')}}<br />
                {{ workshop.user.name }}
            </p>
            <h1>{{ workshop.name }}</h1>
        </div>
        <div id="left">
            fds
        </div>
    </body>
</html>