{% extends "KniThomasBundle::layout.html.twig" %}
{% block content %}
         <div class="page">
                <div id="film">
                    <video width="640" height="480" controls>
			<source src="{{ asset('bundles/kni/movie/film.mp4') }}" type="video/mp4; codecs='avc1.42E01E, mp4a.40.2'">
		    </video>
                </div>
               
                    <div id="login">
                        <section class="loginform cf">
                            <form name="login" action="{{ path("login_check") }}" method="post" id="login">
                               <center>
                                   <ul>
					<li>
                                            <label for="username">Username</label>
                                              <input type="text" id="username" name="_username" value="{{ last_username }}" />
                                        </li>
				         <li>
                                                <label for="password">Password</label>
                                                <input type="password" id="password" name="_password" />
                                          </li>
                                          </center>
                                    <center>
                                        <li>
                                            <input type="submit" onClick="{{ path('page') }}"  value="Sign in">
                                        </li>
                                   </center>
                            </form>
                           </section>
                      </div>
               {% if error %}
                    <div class="error">{{ error.message }}</div>
                {% endif %}
    </div>
{% endblock %}