{% extends "KniThomasBundle::layout.html.twig" %}

{% block content %}
<div class="block">

    <h1>Twoje dane</h1>
    <table class="records_list">
        <tr>
            <th>Id</th>
            <td>{{entity.id}}</td>
        </tr>
        <tr>
            <th>Imię</th>
            <td>{{entity.name}}</td>
        </tr>
        <tr>
            <th>Nazwisko</th>
            <td>{{entity.surname}}</td>
        </tr>
        <tr>
            <th>Login</th>
            <td>{{entity.username}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{entity.email}}</td>
        </tr>
    </table>

    
     <form action="{{path('profile_edit')}}" method="get" }}>
            <p>
                <button type="submit">Edytuj profil</button>
            </p>
        </form>
    
    
    <div class="clear"></div>
</div>
{% endblock %}