{% extends "KniThomasBundle::layout.html.twig" %}

{% block content %}
<div class="block">

    <h1>Twoje dane</h1>
    <table>
        <tr>
            <td>Id</td>
            <td>{{entity.id}}</td>
        </tr>
        <tr>
            <td>Imię</td>
            <td>{{entity.name}}</td>
        </tr>
        <tr>
            <td>Nazwisko</td>
            <td>{{entity.surname}}</td>
        </tr>
        <tr>
            <td>Login</td>
            <td>{{entity.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{entity.email}}</td>
        </tr>
    </table>

    <a class="box" href="{{path('profile_edit')}}">Edytuj dane</a>

    <div class="clear"></div>
</div>
{% endblock %}