{% extends "KniThomasBundle::layout.html.twig" %}

{% block content -%}
    <div class="block">
        
        {% if isEditWorkshop %}
            <h1>Warsztaty - edycja etapów</h1>
        
            {% include 'KniThomasBundle:Workshop:editMenu.html.twig' with {'active': 'files', 'workshopId': workshopId} %}
        {% else %}
            <h1>Utwórz warsztaty - krok 3</h1>

            <ul class="steps">
                <li class="active">Podstawowe informacje</li>
                <li class="active">Dodawanie zasobów</li>
                <li class="active last">Etapy</li>
                <li>Zaproszenia</li>
                <li>Podsumowanie</li>
            </ul>
        {% endif %}

        <ul id="steps">
            {% for entity in steps %}
                {% if entity.type==0 %}
                    <li class='ui-state-default' original_id='{{ entity.id }}'>
                        <span class='ui-icon ui-icon-arrowthick-2-n-s'></span>
                        <span class='delete'></span>
                        {{ entity.name }}
                    </li>
                {% else %}
                    <li question="1" class='ui-state-default question' original_id='{{ entity.id }}'>
                        <span class='ui-icon ui-icon-arrowthick-2-n-s'></span>
                        <span class='delete'></span>
                        {{ entity.content }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        
        <div class="left" id="stepAdd">
            <h2>Dodaj etap</h2>
            <form id="step">
                <div>
                    <label>
                        Nazwa etapu:
                    </label>
                    <input type="text" name="stepName" />
                </div>
                <div>
                    <label>
                        Opis etapu:
                    </label>
                    <textarea name="stepDescription"></textarea>
                </div>
                <p>
                    <button type="submit">Dodaj</button>
                </p>
            </form>
            <h2>Dodaj pytanie kontrolne</h2>
            <form id="question">
                <div>
                    <label>
                        Pytanie:
                    </label>
                    <input type="text" name="question" />
                </div>
                <div class="answers" id="answers">
                    <label>
                        Odpowiedzi:
                    </label>
                    <input type="checkbox" name="corectAnswer[]" value="1" />
                    <input type="text" name="answer[]" />
                </div>
                <p class="right" id="addAnswer">
                    <img src="{{ asset('bundles/kni/images/add.png')}}"> dodaj
                </p>
                <p>
                    <button type="submit">Dodaj</button>
                </p>
            </form>
        </div>
        <div class="clear"></div>
        
        {% if isEditWorkshop %}
            <p class="center">
                <button id="save" type="submit">Zapisz zmiany</button>
            </p>
            <form id='stepsForm' action="{{ path('profile_steps_save', { 'workshopId': workshopId }) }}" method="post"></form>
        {% else %}
            <p class="center">
                <button id="next" type="submit">Dalej</button>
            </p>
            <form id='stepsForm' action="{{ path('profile_steps_create', { 'workshopId': workshopId }) }}" method="post"></form>
        {% endif %}
        
    </div>
{% endblock %}


{% block additionalHeaders %}
    <script src="{{ asset('bundles/kni/js/steps.js')}}"></script>
{% endblock %}