{% extends "KniThomasBundle::layout.html.twig" %}

{% block content %}
<div class="block">
    <h1>Workshop list</h1>
    <div>
        <form method="get">
            <input name="query" type="search">
            <input type="submit" value="Go">
        </form>
    </div>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Początek</th>
                <th>Koniec</th>
                <th>Opis</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('profile_workshop_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.endDate %}{{ entity.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.description }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('join_to_workshop', { 'workshopId': entity.id }) }}">join</a>
                            </li>
                        </ul>
                    </td>
                </tr>
         {% else %}
                <tr>
                    <td colspan="6">
                        Brak warsztatów spełniających kryteria.
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>


    </div>
    {% endblock %}
