<html>
    <head>
        {% block head %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kni/css/style.css') }}" />
        {% endblock %}
        {% block title '<title>Thomas Bundle</title>' %}
            <link rel="stylesheet" href="{{ asset('js/jquery-ui/themes/base/jquery-ui.css')}}" />
            <meta charset="utf-8" />
            <script src="{{ asset('js/jquery-ui/jquery-1.9.1.js')}}"></script>
            <script src="{{ asset('js/jquery-ui/ui/jquery-ui.js')}}"></script>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/kni/css/jquery.bxslider.css') }}" />
            <script src="{{ asset('bundles/kni/js/jquery.bxSlider.min.js')}}"></script>
            <script src="{{ asset('bundles/kni/js/slider.js')}}"></script>
        </head>
        <body>
        {% block body %}
            <div id="container">
                {% block header %}    
                    <div id="header">
                        <a href="{{ path('home') }}">
                            <img id="logo" src="{{ asset('bundles/kni/images/logo.png')}}" alt="Thomas. Uczy, sprawdza, pomaga">
                        </a>
                    </div>
                    
                    {% block slider '' %}
                    
                {% endblock %}
                
                {% block content %}    
                {% endblock %}
                
                {% block footer %}
                    <div id="footer">Copyright ©2013 Thomas. All rights reserved.</div>
                {% endblock %}
            </div>
        {% endblock %}
        </body>
    </html>