{% extends "KniThomasBundle::layout.html.twig" %}

{% block content -%}
<div class="block">

    {% if isEditWorkshop %}
        <h1>Warsztaty - zaproś uczestników</h1>
        
        {% include 'KniThomasBundle:Workshop:editMenu.html.twig' with {'active': 'invites', 'workshopId': workshop.id} %}
    {% else %}
        <h1>Utwórz warsztaty - krok 3</h1>

        <ul class="steps">
            <li class="active">Podstawowe informacje</li>
            <li class="active">Dodawanie zasobów</li>
            <li class="active">Etapy</li>
            <li class="active last">Zaproszenia</li>
            <li>Podsumowanie</li>
        </ul>
    {% endif %}


    <form action="{{ path('send_invitations')}}" method="POST" id="inv_form">
        <div>
            <label>Lista maili (odzielonych przecinkami)</label>
            <textarea name="mails" rows="5" cols="50">przykladowy@mail.pl, innymail@domena.pl</textarea>
        </div>
        <div>
            <label>Treść wiadomości</label>
            <textarea name="text" rows="10" cols="50">Witam, 

zaprszam Cię do kursu o nazwie: {{workshop.name}}
Aby do niego dołączyć odwiedź adres: 
{{app.request.getHost() }}{{ path('join_to_workshop', {'workshopId': workshop.id})}}

{% if workshop.password %}Hasło do warsztatu to: {{workshop.password}}{%else%}Zapis nie wymaga hasła.
{% endif %}

Rejestracja i wykorzysanie serwisu Thomas jest w 100% darmowe.

            </textarea>

        </div>
        <div >

            <button type="submit" class="center" >Zaproś</button>
        </div>
        <input type="hidden" name="id" value="{{workshop.id}}" >
        <input type="hidden" name="name" value="{{workshop.name}}" >


    </form>

    <a href="{{ path('profile_workshop_added', {'workshopId': workshop.id})}}"><button class="center" type="submit" >Pomiń</button></a>

{% endblock %}




{% block additionalHeaders %}
    <script src="{{ asset('bundles/kni/js/steps.js')}}"></script>
{% endblock %}